#dev-data-banner-wrap{
  width: 250px;
  transform: translateX(-80px) translateY(22px);
	position: fixed;

  .dev-data-banner{
    transform: rotate(-45deg);

    .dev-data-banner-text{
      background-color: #333;
      opacity: 0.6;
      text-align: center;
      padding: 6px 75px;
      color: white;
      font-family: 'Roboto';
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
