@import 'variables';
@import 'fonts.scss';
@import 'mixins';
@import 'simplegrid';
@import 'list';

*{
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
