@mixin radial-gradient ($startColor, $endColor){
  background: $startColor;
  background: -moz-radial-gradient(center, ellipse cover, $startColor 0%, $endColor 100%);
  background: -webkit-radial-gradient(center, ellipse cover, $startColor 0%, $endColor 100%);
  background: radial-gradient(ellipse at center, $startColor 0%, $endColor 100%);
}
@mixin led ($startColor, $endColor){
  @include radial-gradient($startColor, $endColor);
  border-radius: 100%;
  display: inline-block;
  opacity: 0.8;
  filter:alpha(opacity=80);
}
@mixin fade-in ($property: opacity, $duration: 0.2s, $timingFunction: linear){
  -webkit-transition: $property $duration $timingFunction;
  -moz-transition: $property $duration $timingFunction;
  -o-transition: $property $duration $timingFunction;
  transition: $property $duration $timingFunction;
}
@mixin drop-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
  -webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
  -moz-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
  box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
}
@mixin blur ($radius: 8px) {
	-webkit-filter: blur($radius);
	-ms-filter: blur($radius);
	filter: blur($radius);
}
@mixin keyframes ($animationName){
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}
@mixin no-highlight () {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
};
