.logo {
	width: 32px;
}

.countdown-wrap{
	width: 30em;
	text-align: right;
	@include fade-in();
}

body.mobile{

	.topnav {
		height: 3.5em;
		margin: auto;
		width: 100%;
		background-color: #fff;
	}

	.countdown-wrap{
		display: none;
	}

	.navbar-collapse{
		width: 112%;
		margin-left: -1em;
		padding-left: 1em;
		margin-top: -0.5em;
		padding-top: 0.5em;

		&.collapse.show{
			padding-bottom: 0.3em;
		}
	}
}
