.logo {
	width: 32px;
}

.countdown-wrap{
	@include fade-in();
	height: 4em;
	margin-top: 2em;
	font-weight: bold;
	font-size: 120%;
}

body.mobile{

	.topnav {
		height: 3.5em;
		margin: auto;
		width: 100%;
		background-color: #fff;
	}

	.navbar-collapse{
		width: 112%;
		margin-left: -1em;
		padding-left: 1em;
		margin-top: -0.5em;
		padding-top: 0.5em;

		&.collapse.show{
			padding-bottom: 0.3em;
		}
	}
}
