.server-page{

	.card{
		background-color: rgba(255,255,255,0.75);

		&.server-node-card{
			margin-bottom: 1.5em;
		}
	}

	td{
		padding: 0.5em 1em
	}

	tr:not(:first-of-type){
		border-top: 1px solid rgba(0,0,0,0.3);
	}
}
