$bgColor: rgba(255,255,255,0.1);

nav.tabs{
	color: white;
	text-align: center;
}

.bg-color{
	background-color: #46a1de;
	transition-duration: .5s;
}

.tab-header{
	color: #fff;
	transition-duration: .5s;
}

body.mobile{
	.tabs .tab-item{
		display: none;
		font-size: 2.75em;

		&.active{
			color: #fff;
			display: block;
		}
	}
}

.tabs{
	text-align: center;
	margin-top: 3.5vh;
	margin-bottom: 1.5vh;
	line-height: 2.25em;

	.tab-item{
		@include no-highlight ();
		@include fade-in (color);
		font-family: 'Satisfy', sans-serif;
		color: #fff;
		font-size: 2.25em;
		line-height: 1.2em;
		padding: 0.5em;
		cursor: pointer;

		&.active{
			color: #222;
			cursor: default;
		}
	}
}

.tab__content{
	@include border-radius(3px);
	background-color: $bgColor;
	position: relative;

	.tab-content{
		width: 100%;
		display: none;
		list-style: none;

		.content__wrapper{
			text-align: center;
			width: 100%;
			padding: 2.1em 2em;
			background-color: $bgColor;
			@include border-radius(3px);
		}
	}
}

.content__wrapper{
	h2{
		width: 100%;
		text-align: center;
	}
}
