// Colors
$greenStartColor: #50db88;
$greenEndColor: #16cf62;
$redStartColor: #f4573b;
$redEndColor: #e32c0c;
$yellowStartColor: #ffcc00;
$yellowEndColor: #eabb00;
$buttonBorderColor: #ccc;
$buttonBackgroundColor: #fff;
$buttonHoverColor: #eee;
$buttonActiveColor: #ddd;

// Official wedding colors
$wcMaroon: #650011;

// Tiny images for lazyloading
$littleBackgroundImgUrl: 'data:image/webp;base64,UklGRkYAAABXRUJQVlA4IDoAAAAQAwCdASocABYAPm0ylUekIqIhKAgAgA2JZwB2AACAoKAA/uFps/8NqrK2/8ikWMm2KFT8z/4dAAAA';
