$greenStartColor: #50db88;
$greenEndColor: #16cf62;
$redStartColor: #f4573b;
$redEndColor: #e32c0c;
$yellowStartColor: #ffcc00;
$yellowEndColor: #eabb00;
$buttonBorderColor: #ccc;
$buttonBackgroundColor: #fff;
$buttonHoverColor: #eee;
$buttonActiveColor: #ddd;
